<div class="page-header">
  <h3>Question #<%= @question.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Body</dt>
      <dd><%= @question.body %></dd>

      <dt>Option 1</dt>
      <dd><%= @question.option_1 %></dd>

      <dt>Option 2</dt>
      <dd><%= @question.option_2 %></dd>

      <dt>Name</dt>
      <dd><%= @question.name %></dd>

      <dt>Restaurant</dt>
      <dd><%= @question.restaurant_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/questions" class="btn btn-primary">
        Back
      </a>
      <a href="/questions/<%= @question.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_question/<%= @question.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Question has many responses -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Responses
      </li>

      <% @question.responses.each do |response| %>
        <li class="list-group-item">
          <a href="/responses/<%= response.id %>">
            <%= response.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/responses/<%= response.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/responses/<%= response.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_response/<%= response.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
